<div class="for-grop">
<%= form_for @image do |f| %>
    <%= f.label :description%> <br>
    <%= f.text_field :description%><br>

    <%= f.label :season%> <br>
    <%= f.text_field :season%><br>

    <%= f.submit 'Enviar', :class => 'btn btn-primary' %>
<% end %>
</div>
