<div class="container">
<div class="for-group">
<%= form_for @image, builder: CustomFormBuilder do |f| %>
<%= f.form_error%>
    <%= f.label :description%> <br>
    <%= f.text_field :description%><br>
    <%= f.field_error :description%>

    <%= f.label :season%> <br>
    <%= f.text_field :season%><br>
    <%= f.field_error :season%>

    <%= f.label :climate%> <br>
    <%= f.text_field :climate%><br>
    <%= f.field_error :climate%>

    <%= f.label :picture %> <br>
    <%= f.file_field :picture%><br>
    <br>

    <%= f.submit 'Enviar', :class => 'btn btn-primary' %>
<% end %>
</div>
</div>
