
<div class="for-group">
<%= form_for @image do |f| %>
    <%= f.label :description%> <br>
    <%= f.text_field :description%><br>
<%-if @image.errors[:description].any? %>
<span class="badge badge-pill badge-danger">
    <%= @image.errors[:description].first%>
</span>
<%end%>
    <%= f.label :season%> <br>
    <%= f.text_field :season%><br>
<%-if @image.errors[:season].any? %>
    <span class="badge badge-pill badge-danger">
        <%= @image.errors[:season].first%>
    </span>
<%end%>

    <%= f.label :picture %> <br>
    <%= f.file_field :picture%><br>

    <%= f.submit 'Enviar', :class => 'btn btn-primary' %>
<% end %>
</div>
